body{
    background-color: slategray;
    color: rgb(68, 53, 53);
}

#siteTitle {
    display: block;
    margin-left: 30px;
    text-align: center;
    padding-top: 5px;
    color: rgb(45, 101, 156);
}

h2 {
    color: slategray;
    text-align: center;
}

h3 {
    padding-left: 16px;
}

#creatorImg{
    margin-right: 15px;
    margin-left: 20px;
    float: left;
    max-height: 400px;
    margin-top: 5px;
    margin-bottom: 25px;
    border: 3px solid slategray;
    box-shadow: 3px 5px rgb(79, 151, 211);
}

.githubLinks{
    text-decoration: none;
    color: white;
}

.githubLinks:active{
    text-decoration: none;
    color: rgb(250, 185, 65)
}

.githubLinks:visited{
    text-decoration: none;
    color: silver;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightyellow;
    width: 100%;
    height: 80px;
    margin-top: -10px;
    margin-left: -10px;
    padding-right: 18px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
}

ul {
    list-style: none;
}

.nav-links {
    list-style: none;
    list-style-type: none;
    
}

.nav-items {
    float: left;
}

#techNav{
    border-right: 1px solid slategray;
    border-left: 1px solid slategray;
}

.nav-items a {
    display: block;
    color: slategray;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    list-style: none;   

}

.nav-items a:hover{
    background-color: rgb(250, 250, 198);
    color: slategray;
}

.pageContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#background {

    margin-right: 20px;
}

#inspiration{
    margin-left: 20px;

}

.fullPage{
    background-color: white;
    width: 1200px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    border-radius: 10px;
    margin-bottom: 50px;
}

#projectsPage {
    justify-content: center;
    padding-bottom: 50px;
    color: white;
}

.projectImages{
    max-width: 500px;
    height: 300px;
    border-radius: 0px 0px 0px 15px;
}

.projBox{
    background-color: rgb(133, 100, 77);
    width: 950px;
    height: 350px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 15px;
}

.infoBox {
    background-color: gray;
    width: 450px;
    border-radius: 0px 0px 15px 0px;
}

.paraInfo{
    padding-left: 15px;
}

#projTitle {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    height: 30px;
    background-color: silver;
    color: white;
    margin: 0;
    
}

.indivProjects{
    margin-top: 50px;
}

.page-footer{
    display: flex;
    padding: 20px;
    width: auto;
    background-color: rgb(141, 113, 90);
    bottom: 0;
    justify-content: center;
    margin-left: -7px;
    margin-right: -7px;
    margin-bottom: -7px;
    
}

.footerLinks{
    text-decoration: none;
    color: white;
    border-right: 1px solid white;
    padding: 14px 16px;
    border-spacing: initial;
}